.container {
  max-width: 720px;
  margin: 16px auto;

  .input-wrapper {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 8px;

    input {
      padding: 8px;
      font-size: 1rem;
    }
  }

  .operator-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32px;
    padding: 8px;
  }
}