.button-operator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  font-size: 1.2rem;
  border-radius: 50%;
  border: none;
  background-color: lightblue;

  &:hover {
    background-color: lightskyblue;
  }
}